openapi: 3.1.0
info:
  title: Cloudonix API.Core
  version: '1.0'
  summary: Cloudonix REST API
  description: ''
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
servers:
  - url: 'https://api.cloudonix.io'
    description: Cloudonix Production Services
  - url: 'http://api.staging.cloudonix.io'
    description: Cloudonix Testing Environment
paths:
  /tenants:
    get:
      summary: List Tenants
      description: >
        Retrieve the list of all tenants. This is a system administrator priviliged operation.
      tags:
        - Tenants
      responses:
        '200':
          description: Tenant List
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tenant'
      operationId: get-tenants
    post:
      summary: Create Tenant
      operationId: post-tenants
      responses:
        '200':
          description: OK
          headers: {}
      description: Create Tenant
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                profile:
                  type: object
    parameters: []
  '/tenants/{tenant-name}':
    get:
      summary: Get Tenant
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
      operationId: get-tenants-tenant-name
      description: Retrieve Tenant
    patch:
      summary: Update Tenant
      operationId: patch-tenants-tenant-name
      responses:
        '200':
          description: OK
      description: Update Tenant
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                profile:
                  type: object
    delete:
      summary: Delete Tenant
      operationId: delete-tenants-tenant-name
      responses:
        '200':
          description: OK
      description: Delete Tenant
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or the word 'self'
  '/tenants/{tenant-name}/keys':
    get:
      summary: Get Tenant Keys
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Key'
      operationId: get-tenants-tenant-name-keys
      description: List Tenant Keys
    post:
      summary: Create Tenant Key
      operationId: post-tenants-tenant-name-keys
      responses:
        '200':
          description: OK
      description: Create Tenant Key
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or the word 'self'
  '/tenants/{tenant-name}/keys/{key-id}':
    get:
      summary: Get Tenant Key
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
      operationId: get-tenants-tenant-name-keys-key-id
      description: Retrieve Tenant Key
    patch:
      summary: Update Tenant Key
      operationId: patch-tenants-tenant-name-keys-key-id
      responses:
        '200':
          description: OK
      description: Update Tenant Key
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                active:
                  type: boolean
    delete:
      summary: Delete Tenant Key
      operationId: delete-tenants-tenant-name-keys-key-id
      responses:
        '200':
          description: OK
      description: Delete Tenant Key
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or the word 'self'
      - schema:
          type: string
        name: key-id
        in: path
        required: true
        description: the API key ID
  '/domains/{domain}/keys':
    get:
      summary: Get Domain Keys
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Key'
      operationId: get-domains-domain-name-keys
      description: Retrieve Domain Keys
    post:
      summary: Create Domain Key
      operationId: post-domains-domain-name-keys
      responses:
        '200':
          description: OK
      description: Create Domain Key
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
    parameters:
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
  '/domains/{domain}/keys/{key-id}':
    get:
      summary: Get Domain Key
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
      operationId: get-domains-domain-name-keys-key-id
      description: Retrieve Domain Key
    patch:
      summary: Update Domain Key
      operationId: patch-domains-domain-name-keys-key-id
      responses:
        '200':
          description: OK
      description: Update Domain Key
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                active:
                  type: boolean
    delete:
      summary: Delete Domain Key
      operationId: delete-domains-domain-name-keys-key-id
      responses:
        '200':
          description: OK
      description: Delete Domain Key
    parameters:
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
      - schema:
          type: string
        name: key-id
        in: path
        required: true
        description: the API key ID
  '/tenants/{tenant-name}/users':
    get:
      summary: Get Tenant Users
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
      operationId: get-tenants-tenant-name-users
      description: List Tenant Users
    post:
      summary: Create Tenant User
      operationId: post-tenants-tenant-name-users
      responses:
        '200':
          description: OK
      description: Create Tenant User
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or the word 'self'
  '/tenants/{tenant-name}/users/{email}':
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or the word 'self'
      - schema:
          type: string
        name: email
        in: path
        required: true
        description: administrator's email
    get:
      summary: Get Tenant User
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      operationId: get-tenants-tenant-name-users-email
    delete:
      summary: Delete Tenant User
      operationId: delete-tenants-tenant-name-users-email
      responses:
        '200':
          description: OK
      description: ''
  '/domains/{domain}/users':
    get:
      summary: Get Domain Users
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
      operationId: get-domains-domain-name-users
      description: List Domain Users
    post:
      summary: Create Domain User
      operationId: post-domains-domain-name-users
      responses:
        '200':
          description: OK
      description: Create Domain User
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
        description: ''
    parameters:
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
  '/domains/{domain}/users/{email}':
    get:
      summary: Get Domain User
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      operationId: get-domains-domain-name-users-email
      description: Retrieve Domain User
    delete:
      summary: Delete Domain User
      operationId: delete-domains-domain-name-users-email
      responses:
        '200':
          description: OK
      description: Delete Domain User
    parameters:
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
      - schema:
          type: string
        name: email
        in: path
        required: true
        description: administrator's email
  '/tenants/{tenant-name}/applications':
    get:
      summary: Get Tenant Applications
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Hosted-Application'
      operationId: get-tenants-tenant-name-applications
      description: List Tenant Apps
    post:
      summary: Create Tenant Application
      operationId: post-tenants-tenant-name-applications
      responses:
        '200':
          description: OK
      description: Create Tenant App
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or the word 'self'
  '/tenants/{tenant-name}/applications/{application-name}':
    get:
      summary: Get Tenant Application
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hosted-Application'
      operationId: get-tenants-tenant-name-applications-application-name
      description: Retrieve Tenant App
    delete:
      summary: Delete Tenant Application
      operationId: delete-tenants-tenant-name-applications-application-name
      responses:
        '200':
          description: OK
      description: Delete Tenant App
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or the word 'self'
      - schema:
          type: string
        name: application-name
        in: path
        required: true
        description: container application's name
  '/tenants/{tenant-name}/applications/{application-name}/blocks':
    get:
      summary: Get Blocks
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Block'
      operationId: get-tenants-tenant-name-applications-application-name-blocks
      description: List Tenant Blocks
    post:
      summary: Create Block
      operationId: post-tenants-tenant-name-applications-application-name-blocks
      responses:
        '200':
          description: OK
      description: Create Tenant Block
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or the word 'self'
      - schema:
          type: string
        name: application-name
        in: path
        required: true
        description: contianer application's name
  '/tenants/{tenant-name}/applications/{application-name}/blocks/{block}':
    get:
      summary: Get Block
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
      operationId: get-tenants-tenant-name-applications-application-name-blocks-block
      description: Retrieve Tenant Block
    patch:
      summary: Update Block
      operationId: patch-tenants-tenant-name-applications-application-name-blocks-block
      responses:
        '200':
          description: OK
      description: Update Tenant Block
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                runtime:
                  type: string
                code:
                  type: string
    delete:
      summary: Delete Block
      operationId: delete-tenants-tenant-name-applications-application-name-blocks-block
      responses:
        '200':
          description: OK
      description: Delete Tenant Block
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or the word 'self'
      - schema:
          type: string
        name: application-name
        in: path
        required: true
        description: contianer application's name
      - schema:
          type: string
        name: block
        in: path
        required: true
        description: application's block
  '/tenants/{tenant-name}/domains':
    get:
      summary: Get Domains
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Domain'
      operationId: get-tenants-tenant-name-domains
      description: List Tenant Domains
    post:
      summary: Create Domain
      operationId: post-tenants-tenant-name-domains
      responses:
        '200':
          description: OK
      description: Create Tenant Domain
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                profile:
                  type: object
                application:
                  type:
                    - object
                    - string
                    - number
                  properties:
                    name:
                      type: string
                    profile:
                      type: string
                    type:
                      type: string
                    url:
                      type: string
                    method:
                      type: string
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or the word 'self'
  '/tenants/{tenant-name}/domains/{domain}':
    get:
      summary: Get Domain
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
      operationId: get-tenants-tenant-name-domains-domain
      description: Retrieve Tenant Domain
    patch:
      summary: Update Domain
      operationId: patch-tenants-tenant-name-domains-domain
      responses:
        '200':
          description: OK
      description: Update Teant Domain
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                profile:
                  type: object
                active:
                  type: boolean
                application:
                  type:
                    - object
                    - string
                    - number
                  properties:
                    name:
                      type: string
                    profile:
                      type: string
                    type:
                      type: string
                    url:
                      type: string
                    method:
                      type: string
        description: ''
    delete:
      summary: Delete Domain
      operationId: delete-tenants-tenant-name-domains-domain
      responses:
        '200':
          description: OK
      description: Delete Tenant Domain
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or the word 'self'
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
  '/tenants/{tenant-name}/domains/{domain}/trunks':
    get:
      summary: Get Domain Trunks
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Trunk'
      operationId: get-tenants-tenant-name-domains-domain-trunks
      description: List Tenant Domain Trunks
    post:
      summary: Create Domain Trunk
      operationId: post-tenants-tenant-name-domains-domain-trunks
      responses:
        '200':
          description: OK
      description: Create Tenant Domain Trunk
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                ip:
                  type: string
                port:
                  type: number
                transport:
                  type: string
                prefix:
                  type: string
                direction:
                  type: string
                profile:
                  type: object
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or the word 'self'
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
  '/tenants/{tenant-name}/domains/{domain}/trunks/{trunk-name}':
    get:
      summary: Get Domain Trunk
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trunk'
      operationId: get-tenants-tenant-name-domains-domain-trunks-trunk-name
      description: Retrieve Tenant Domain Trunk
    patch:
      summary: Update Domain Trunk
      operationId: patch-tenants-tenant-name-domains-domain-trunks-trunk-name
      responses:
        '200':
          description: OK
      description: Update Tenant Domain Trunk
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                ip:
                  type: string
                port:
                  type: number
                transport:
                  type: string
                prefix:
                  type: string
                direction:
                  type: string
                profile:
                  type: object
                active:
                  type: boolean
    delete:
      summary: Delete Domain Trunk
      operationId: delete-tenants-tenant-name-domains-domain-trunks-trunk-name
      responses:
        '200':
          description: OK
      description: Delete Tenant Domain Trunk
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or the word 'self'
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
      - schema:
          type: string
        name: trunk-name
        in: path
        required: true
        description: domain's trunk
  '/tenants/{tenant-name}/trunks':
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or the word 'self'
    get:
      summary: Get Tenant Trunks
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Trunk'
      operationId: get-tenants-tenant-name-trunks
      description: ''
    post:
      summary: Create Tenant Trunk
      operationId: post-tenants-tenant-name-trunks
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                ip:
                  type: string
                port:
                  type: number
                transport:
                  type: string
                prefix:
                  type: string
                direction:
                  type: string
                profile:
                  type: object
  '/tenants/{tenant-name}/trunks/{trunk-name}':
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or the word 'self'
      - schema:
          type: string
        name: trunk-name
        in: path
        required: true
        description: domain's trunk
    get:
      summary: Get Tenant Trunk
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trunk'
      operationId: get-tenants-tenant-name-trunks-trunk-name
    patch:
      summary: Update Tenant Trunk
      operationId: patch-tenants-tenant-name-trunks-trunk-name
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                ip:
                  type: string
                port:
                  type: number
                transport:
                  type: string
                prefix:
                  type: string
                direction:
                  type: string
                profile:
                  type: object
                active:
                  type: boolean
    delete:
      summary: Delete Tenant Trunk
      operationId: delete-tenants-tenant-name-trunks-trunk-name
      responses:
        '200':
          description: OK
  '/tenants/{tenant-name}/domains/{domain}/aliases':
    get:
      summary: Get Domain Aliases
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alias'
      operationId: get-tenants-tenant-name-domains-domain-aliases
      description: List Tenant Aliases
    post:
      summary: Create Domain Alias
      operationId: post-tenants-tenant-name-domains-domain-aliases
      description: Create Tenant Alias
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                alias:
                  type: string
      responses:
        '200':
          description: OK
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or the word 'self'
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
  '/tenants/{tenant-name}/domains/{domain}/aliases/{alias}':
    get:
      summary: Get Domain Alias
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alias'
      operationId: get-tenants-tenant-name-domains-domain-aliases-alias
      description: Retrieve Tenant Alias
    delete:
      summary: Delete Domain Alias
      operationId: delete-tenants-tenant-name-domains-domain-aliases-alias
      responses:
        '200':
          description: OK
      description: Delete Alias
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or the word 'self'
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
      - schema:
          type: string
        name: alias
        in: path
        required: true
        description: domain's alias (internet style domain)
  '/tenants/{tenant-name}/domains/{domain}/subscribers':
    get:
      summary: Get Domain Subscribers
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Subscriber'
      operationId: get-tenants-tenant-name-domains-domain-subscribers
      description: List Tenant Subscribers
    post:
      summary: Create Domain Subscriber
      operationId: post-tenants-tenant-name-domains-domain-subscribers
      responses:
        '200':
          description: OK
      description: Create Tenant Subscriber
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                msisdn:
                  type: string
                profile:
                  type: string
                sip-password:
                  type: string
          application/xml:
            schema:
              type: object
              properties:
                msisdn:
                  type: string
                profile:
                  type: object
                sip-password:
                  type: string
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or word 'self'
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
  '/tenants/{tenant-name}/domains/{domain}/subscribers/{msisdn}':
    get:
      summary: Get Domain Subscriber
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriber'
      operationId: get-tenants-tenant-name-domains-domain-subscribers-msisdn
      description: Retrieve Tenant Subscriber
    patch:
      summary: Update Domain Subscriber
      operationId: patch-tenants-tenant-name-domains-domain-subscribers-msisdn
      responses:
        '200':
          description: OK
      description: Update Tenant Subscriber
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                msisdn:
                  type: string
                profile:
                  type: object
                active:
                  type: boolean
                sip-password:
                  type: string
        description: ''
    delete:
      summary: Delete Domain Subscriber
      operationId: delete-tenants-tenant-name-domains-domain-subscribers-msisdn
      responses:
        '200':
          description: OK
      description: Delete Tenant Subscriber
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or word 'self'
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
      - schema:
          type: string
        name: msisdn
        in: path
        required: true
        description: subscriber's identifier (msisdn or uuid)
  '/tenants/{tenant-name}/domains/{domain}/applications':
    get:
      summary: Get Domain Applications
      tags: []
      responses:
        '200':
          description: OK
      operationId: get-tenants-tenant-name-domains-domain-applications
      description: List Tenant Apps
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Voice-Application'
        description: |+

    post:
      summary: Create Domain Application
      operationId: post-tenants-tenant-name-domains-domain-applications
      responses:
        '200':
          description: OK
      description: Create Tenant App
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                profile:
                  type: object
                type:
                  type: string
                url:
                  type: string
                method:
                  type: string
                status-start-ringing:
                  type: boolean
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or the word 'self'
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
  '/tenants/{tenant-name}/domains/{domain}/applications/{application-name}':
    get:
      summary: Get Domain Application
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voice-Application'
      operationId: get-tenants-tenant-name-domains-domain-applications-application-name
      description: Retrieve Tenant App
    patch:
      summary: Update Domain Application
      operationId: patch-tenants-tenant-name-domains-domain-applications-application-name
      description: Update Tenant App
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                profile:
                  type: object
                type:
                  type: string
                url:
                  type: string
                method:
                  type: string
                active:
                  type: boolean
                status-start-ringing:
                  type: boolean
        description: ''
      responses:
        '200':
          description: OK
    delete:
      summary: Delete Domain Application
      operationId: delete-tenants-tenant-name-domains-domain-applications-application-name
      responses:
        '200':
          description: OK
      description: Delete Tenant App
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or the word 'self'
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
      - schema:
          type: string
        name: application-name
        in: path
        required: true
        description: application connection's name
  '/tenants/{tenant-name}/domains/{domain}/applications/{application-name}/subscribers/{msisdn}':
    get:
      summary: Get Application Subscribers
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voice-Application-Subscriber-Data'
      operationId: get-tenants-tenant-name-domains-domain-applications-application-name-subscribers-subscriber-msisdn
      description: Retrieve subscriber msisdn
    patch:
      summary: Update Application Subscriber
      operationId: patch-tenants-tenant-name-domains-domain-applications-application-name-subscribers-subscriber-msisdn
      responses:
        '200':
          description: OK
      description: Update subscriber msisdn
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: string
    delete:
      summary: Delete Application Subscriber
      operationId: delete-tenants-tenant-name-domains-domain-applications-application-name-subscribers-subscriber-msisdn
      responses:
        '200':
          description: OK
      description: Delete subscriber msisdn
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or the word 'self'
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
      - schema:
          type: string
        name: application-name
        in: path
        required: true
        description: application connection's name
      - schema:
          type: string
        name: msisdn
        in: path
        required: true
        description: subscriber's identifier (msisdn or uuid)
  '/tenants/{tenant-name}/domains/{domain}/applications/{application-name}/dnids':
    get:
      summary: Get Application dnids
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DNID'
      operationId: get-tenants-tenant-name-domains-domain-applications-application-name-dnids
      description: List App dnids
    post:
      summary: Create Application dnid
      operationId: post-tenants-tenant-name-domains-domain-applications-application-name-dnids
      responses:
        '200':
          description: OK
      description: Create App dnid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                voice-application:
                  type:
                    - string
                    - number
                dnid:
                  type: string
                source:
                  type: string
                prefix:
                  type: boolean
                expression:
                  type: boolean
                asteriskCompatible:
                  type: boolean
        description: ''
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or the word 'self'
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
      - schema:
          type: string
        name: application-name
        in: path
        required: true
        description: application connection's name
  '/tenants/{tenant-name}/domains/{domain}/applications/{application-name}/dnids/{dnid}':
    get:
      summary: Get Application dnid
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DNID'
      operationId: get-tenants-tenant-name-domains-domain-applications-application-name-dnids-dnid
      description: Retrieve App dnid
    patch:
      summary: Update Application dnid
      operationId: patch-tenants-tenant-name-domains-domain-applications-application-name-dnids-dnid
      responses:
        '200':
          description: OK
      description: Update App dnid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                voice-application:
                  type:
                    - string
                    - number
                active:
                  type: boolean
                dnid:
                  type: string
                prefix:
                  type: boolean
                expression:
                  type: boolean
                asteriskCompatible:
                  type: boolean
        description: ''
    delete:
      summary: Delete Application dnid
      operationId: delete-tenants-tenant-name-domains-domain-applications-application-name-dnids-dnid
      responses:
        '200':
          description: OK
      description: Delete App dnid
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or the word 'self'
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
      - schema:
          type: string
        name: application-name
        in: path
        required: true
        description: application connection's name
      - schema:
          type: string
        name: dnid
        in: path
        required: true
        description: applicaiton's dnid
  '/tenants/{tenant-name}/domains/{domain}/dnids':
    get:
      summary: Get Domain dnids
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DNID'
      operationId: get-tenants-tenant-name-domains-domain-dnids
      description: List Tenant dnids
    post:
      summary: Create Domain dnid
      operationId: post-tenants-tenant-name-domains-domain-dnids
      responses:
        '200':
          description: OK
      description: Create Tenant dnids
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                voice-application:
                  type:
                    - string
                    - number
                dnid:
                  type: string
                source:
                  type: string
                prefix:
                  type: boolean
                expression:
                  type: boolean
                asteriskCompatible:
                  type: boolean
        description: ''
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or the word 'self'
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
  '/tenants/{tenant-name}/domains/{domain}/dnids/{dnid}':
    get:
      summary: Get Domain dnid
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DNID'
      operationId: get-tenants-tenant-name-domains-domain-dnids-dnid
      description: Retrieve Tenant dnid
    patch:
      summary: Update Domain dnid
      operationId: patch-tenants-tenant-name-domains-domain-dnids-dnid
      responses:
        '200':
          description: OK
      description: Update Tenant dnid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                voice-application:
                  type:
                    - string
                    - number
                active:
                  type: boolean
                dnid:
                  type: string
                prefix:
                  type: boolean
                expression:
                  type: boolean
                asteriskCompatible:
                  type: boolean
    delete:
      summary: Delete Domain dnid
      operationId: delete-tenants-tenant-name-domains-domain-dnids-dnid
      responses:
        '200':
          description: OK
      description: Delete Tenant dnid
    parameters:
      - schema:
          type: string
        name: tenant-name
        in: path
        required: true
        description: your tenant account's name or the word 'self'
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
      - schema:
          type: string
        name: dnid
        in: path
        required: true
        description: applicaiton's dnid
  '/calls/{domain}/sessions':
    get:
      summary: Get Sessions
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Session'
      operationId: get-calls-domain-sessions
      description: List sessions
    post:
      summary: Create Session
      operationId: post-calls-domain-sessions
      description: Create session
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                destination:
                  type: string
                callerId:
                  type: string
                timeLimit:
                  type: number
                profile:
                  type: object
                callback:
                  type: string
                routes:
                  type: object
      responses:
        '200':
          description: OK
    parameters:
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
  '/calls/{domain}/sessions/{token}':
    get:
      summary: Get Session
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
      operationId: get-calls-domain-sessions-token
      description: Retrieve session
    patch:
      summary: Update Session
      operationId: patch-calls-domain-sessions-token
      description: Update session
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                profile:
                  type: object
      responses:
        '200':
          description: OK
    delete:
      summary: Delete Session
      operationId: delete-calls-domain-sessions-token
      responses:
        '200':
          description: OK
      description: Delete session
    parameters:
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
      - schema:
          type: string
        name: token
        in: path
        required: true
        description: session's token
  '/calls/{domain}/incoming':
    get:
      summary: Get Incoming Calls
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Session'
      operationId: get-calls-domain-incoming
      description: List incoming calls
    post:
      summary: Create Incoming Call
      operationId: post-calls-domain-incoming
      responses:
        '200':
          description: OK
      description: Create incoming call
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                destination:
                  type: string
                callerId:
                  type: string
                timeLimit:
                  type: string
                profile:
                  type: object
                callback:
                  type: string
                routes:
                  type: object
    parameters:
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
  '/calls/{domain}/incoming/{token}':
    get:
      summary: Get Incoming Call
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
      operationId: get-calls-domain-incoming-token
      description: Retrieve incoming call
    patch:
      summary: Update Incoming Call
      operationId: patch-calls-domain-incoming-token
      responses:
        '200':
          description: OK
      description: Update incoming call
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                profile:
                  type: object
    delete:
      summary: Delete Incoming Call
      operationId: delete-calls-domain-incoming-token
      responses:
        '200':
          description: OK
      description: Delete incoming call
    parameters:
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
      - schema:
          type: string
        name: token
        in: path
        required: true
        description: session's token
  '/calls/{domain}/outgoing':
    get:
      summary: Get Outgoing Calls
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Session'
      operationId: get-calls-domain-outgoing
      description: List outgoing calls
    post:
      summary: Create Outgoing Call
      operationId: post-calls-domain-outgoing
      responses:
        '200':
          description: OK
      description: Create outgoing call
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                destination:
                  type: string
                callerId:
                  type: string
                timeLimit:
                  type: number
                profle:
                  type: object
                callback:
                  type: string
                routes:
                  type: object
    parameters:
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
  '/calls/{domain}/outgoing/{token}':
    get:
      summary: Get Outgoing Call
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
      operationId: get-calls-domain-outgoing-token
      description: Retrieve outgoing call
    patch:
      summary: Update Outgoing Call
      operationId: patch-calls-domain-outgoing-token
      responses:
        '200':
          description: OK
      description: Update outgoing call
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                profile:
                  type: object
    delete:
      summary: Delete Outgoing Call
      operationId: delete-calls-domain-outgoing-token
      responses:
        '200':
          description: OK
      description: Delete outgoing call
    parameters:
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
      - schema:
          type: string
        name: token
        in: path
        required: true
        description: session's token
  '/calls/{domain}/application':
    get:
      summary: Get Call Applications
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
      operationId: get-calls-domain-application
      description: List Apps
    post:
      summary: Create Call Application
      operationId: post-calls-domain-application
      responses:
        '200':
          description: OK
      description: Create App
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                destination:
                  type: string
                callerId:
                  type: string
                timeLimit:
                  type: number
                profile:
                  type: object
                callback:
                  type: string
                routes:
                  type: object
    parameters:
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
  '/calls/{domain}/application/{token}':
    get:
      summary: Get Call Application
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
      operationId: get-calls-domain-application-token
      description: Retrieve App
    patch:
      summary: Update Call Application
      operationId: patch-calls-domain-application-token
      responses:
        '200':
          description: OK
      description: Update App
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                profile:
                  type: object
    delete:
      summary: Delete Call Application
      operationId: delete-calls-domain-application-token
      responses:
        '200':
          description: OK
      description: Delete App
    parameters:
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
      - schema:
          type: string
        name: token
        in: path
        required: true
        description: session's token
  '/calls/{domain}/conferences':
    get:
      summary: Get Call Conferences
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Conference'
      operationId: get-calls-domain-converences
      description: List converences
    parameters:
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
  '/calls/{domain}/conferences/{name}':
    get:
      summary: Get Call Conference
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conference'
      operationId: get-calls-domain-converences-name
      description: Retrieve converence
    delete:
      summary: Delete Call Conference
      operationId: delete-calls-domain-converences-name
      responses:
        '200':
          description: OK
      description: Delete converence
    parameters:
      - schema:
          type: string
        name: domain
        in: path
        required: true
        description: your domain name or the word 'self'
      - schema:
          type: string
        name: name
        in: path
        required: true
        description: conference name as defined in CXML
components:
  schemas:
    Tenant:
      title: Tenant
      type: object
      properties:
        name:
          type: string
        profile:
          type: object
    Key:
      title: Key
      type: object
      properties:
        tenant:
          $ref: '#/components/schemas/Tenant'
        domain:
          $ref: '#/components/schemas/Domain'
        application:
          $ref: '#/components/schemas/Voice-Application'
        subscriber:
          $ref: '#/components/schemas/Subscriber'
        user:
          $ref: '#/components/schemas/User'
        active:
          type: boolean
        name:
          type: string
        keyId:
          type: string
        secret:
          type: string
        type:
          type: string
    User:
      title: User
      type: object
      properties:
        tenantId:
          type: number
        domainId:
          type: number
        email:
          type: string
        authProvider:
          type: string
    Hosted-Application:
      title: Hosted-Application
      type: object
      properties:
        name:
          type: string
        url:
          type: string
        blocks:
          type: array
          items:
            $ref: '#/components/schemas/Block'
    Block:
      title: Block
      type: object
      properties:
        name:
          type: string
        runtime:
          type: string
        code:
          type: string
        tenantId:
          type: number
        application:
          type: string
        url:
          type: string
    Domain:
      title: Domain
      type: object
      properties:
        tenantId:
          type: number
        domain:
          type: string
        profile:
          type: object
        active:
          type: boolean
        application:
          type: object
        aliases:
          type: array
          items:
            type: object
    Trunk:
      title: Trunk
      type: object
      properties:
        domainId:
          type: number
        name:
          type: string
        ip:
          type: string
        port:
          type: number
        transport:
          type: string
        prefix:
          type: string
        direction:
          type: string
        profile:
          type: object
        active:
          type: boolean
        metric:
          type: number
    Alias:
      title: Alias
      type: object
      properties:
        domainId:
          type: number
        alias:
          type: string
    Subscriber:
      title: Subscriber
      type: object
      properties:
        domainId:
          type: number
        msisdn:
          type: string
        profile:
          type: object
        active:
          type: boolean
        sip-password:
          type: string
    Voice-Application:
      title: Voice-Application
      type: object
      properties:
        domain:
          $ref: '#/components/schemas/Domain'
        name:
          type: string
        profile:
          type: object
        type:
          type: string
        url:
          type: string
        method:
          type: string
        active:
          type: boolean
    DNID:
      title: DNID
      type: object
      properties:
        domain:
          $ref: '#/components/schemas/Domain'
        voice-application:
          $ref: '#/components/schemas/Voice-Application'
        messaging-application:
          type: object
        source:
          type: string
        prefix:
          type: boolean
        expression:
          type: boolean
        asteriskCompatible:
          type: boolean
    Session:
      title: Session
      type: object
      properties:
        domainId:
          type: number
        domain:
          $ref: '#/components/schemas/Domain'
        subscriberId:
          type: number
        destination:
          type: string
        callerId:
          type: string
        direction:
          type: string
        token:
          type: string
        timeLimit:
          type: number
        profile:
          type: object
        callStatTime:
          type: number
        callAnswerTome:
          type: number
        callEndTime:
          type: number
        callback:
          type: string
        routes:
          type: object
        status:
          type: string
        error:
          type: string
    Conference:
      title: Conference
      type: object
      properties:
        name:
          type: string
        members:
          type: number
        tenantId:
          type: number
        domain:
          type: string
    Voice-Application-Subscriber-Data:
      title: Voice-Application-Subscriber-Data
      type: object
      properties:
        application:
          $ref: '#/components/schemas/Voice-Application'
        subscriber:
          $ref: '#/components/schemas/Subscriber'
        key:
          type: string
        data:
          type: string
        createdTime:
          type: string
        modifiedTime:
          type: string
  securitySchemes:
    API-Key:
      type: apiKey
      in: header
      name: Authorization
      description: User API key can be found through cockpit
security:
  - API-Key: []
